@import "tailwindcss";

body {
  background-color: #dfdfdf;
  height: 5000px;
}
bg-white {
  background-color: #fff;
  /* border-radius: 10px; */
}

.username {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
